body {
    margin:0;
    padding:0;
}

.container {
    height:20em;
    position:relative;
}

body h1, body h2, body h3, body h4, body h5, body h6, body p, body a {
    font-family:'Inconsolata',monospace;
    font-size:22px; 
    margin:0;
}

.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }
  
.w-100 {
    width:100%;
}

.item:hover {
    cursor: pointer;
}

.box-shadow {
    transition:all 350ms;
}

.item:hover .box-shadow {
    transform:scale(1.1);
}

.wooshi {
    background:url(https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size:cover;
}

.axilla {
    background:url(https://images.pexels.com/photos/158771/notebook-pen-table-blank-158771.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size:cover;
}